<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Version Control Manager</h2>
            <ul>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('upload_version') }}">Upload New Version</a></li>
                <li><a href="{{ url_for('analytics') }}">Analytics</a></li>
                <li><a href="{{ url_for('application_list') }}">Version Management</a></li>
                <li><a href="{{ url_for('links') }}">Links</a></li>
            </ul>
            <form action="{{ url_for('logout') }}" method="post">
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
        
        <!-- Logo section -->
        <div class="logo-container">
            <img src="{{ url_for('static', filename='version.png') }}" alt="Company Logo" class="logo">
        </div>
    </div>
</body>
</html>
